body {
    /* max-width: 1920px; */
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0 auto;
}

* {
    font-family: 'Poppins';
}

header {
    padding: 30px 100px;
}

h1 {
    margin-left: 50px;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* css for navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 33px;
    text-transform: uppercase;
    }

button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 7px;
        font-size: 18px;
        cursor: pointer;
        padding: 15px 15px;

    }

.logo img {
    width: 236px;
    display: block;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 21px;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
}

.navbar button {
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
    width: 22px;
    height: 20px;
    right: -209px;
    position: relative;
    z-index: 100;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: all 0.3s ease;
}

/*hamburger icon*/
.hamburger span:first-child {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 9px;
}

.hamburger span:last-child {
    top: 18px;
}

/* Hamburger Animation */
.hamburger.active span:first-child {
    transform: rotate(45deg);
    top: 9px;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:last-child {
    transform: rotate(-45deg);
    top: 9px;
}

/* hero section */
.hero {
    background-color: #F3F6F3;
    margin: 0 100px;
    height: 850px;
    border-radius: 59px;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin: 80px 0 0 279px;
    width: 49%;
}

.hero-text h1 {
    font-size: 92px;
    font-weight: 900;
    max-width: 474px;
    line-height: 100px;
    text-transform: uppercase;
}

.hero-text p {
    font-size: 32px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 70px;
    line-height: 48px;
    letter-spacing: -1px;
}

.hero-text .move-left{
    margin-left: 15px;
}

.hero-text button {
    font-size: 32px;
    font-weight: 500;
    padding: 20px 56px;
    margin-top: 5px;
    margin-left: 70px;
}

.hero-image {
    margin: 75px 56px 0 0;
    width: 85%;
    height: 90%;
}

.hero-text .rectangle {
    width: 425px;
    height: 110px;
    padding: 20px 8px 0 15px;
    position: relative;
    display: inline-block;
}

.hero-text .rectangle::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 110px;
    height: 29px;
    background-color: #F3F6F3;
    transform: skewY(-2deg);
}

.hero-text .rectangle::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 15px;
    background-color: #F3F6F3;
    transform: skewY(-2deg);
}


.hero-text .rectangle:nth-of-type(1) {
    width: 397px;
    background-color: white;
}

.hero-text .rectangle:nth-of-type(3) {
    background-color: #E6C744;
}

/* banner section */
.banner-group{
    margin-top: 60px;
    background-color: #E6C744;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.banner-logo{
    width: 16%;
    height: 30%;
}

.wrapper {
    margin: 0 100px;
}

/* new-arrival section */

.new-arrival {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.new-arrival h2{
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 3px;
}

.new-arrival p {
    font-size: 20px;
    color: #7F7F7F;
    margin-top: -40px;
}

.new-arrival h4 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 7px;
    line-height: 50px;
    letter-spacing: -1px;
}

.new-arrival .card {
    margin-top: 40px;
    width: 31%;
    height: 40%;
}

/* payday section */
.payday {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    background-color: #E6C744;
    height: 770px;
    margin-bottom: 50px;
}

.payday-image {
    margin: 53px 56px 0 0;
    width: 95%;
    height: 93%;
}

.payday-text {
    margin-top: 60px;
    width: 100%;
}

.payday-text h1 {
    font-size: 90px;
    font-weight: 900;
    line-height: 95px;
    text-transform: uppercase;
}

#sale {
    margin-left: 20px;
}

.payday-text .rectangle {
    width: 405px;
    height: 100px;
    padding: 20px 20px 0 20px;
    position: relative;
    display: inline-block;
    background-color: white;
}

.payday-text .rectangle::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 107px;
    height: 30px;
    background-color: #E6C744;
    transform: skewY(-2deg);
}

.payday-text .rectangle::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    height: 15px;
    background-color: #E6C744;
    transform: skewY(-2deg);
}

.payday-text p{
    margin: 50px 0px 30px 70px;
    font-size: 28px;
    font-weight: 500;
    max-width: 500px;
}

.payday-text p:nth-of-type(1) {
    font-weight: 500;
}

.payday-text p:nth-of-type(2) {
    margin: 30px 0px 0px 70px;
    font-weight: 700;
}

.payday-text p:nth-of-type(3) {
    margin: 0px 0px 30px 70px;
    font-weight: 500;
}

.payday-text button {
    margin: 0 0 0 70px;
    font-size: 27px;
    padding: 26px 51px;
    text-transform: uppercase;
}

/* youngs favourite section */
.youngs-favourite {
    display: flex;
    justify-content: space-between;
    gap: 47px;
    margin-top: 50px;
}

.wrapper h1 {
    margin: 130px 0 70px 0;
    font-size: 40px;
    letter-spacing: 2px;
}

.youngs-favourite h4 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
}

.youngs-favourite p {
    font-size: 20px;
    color: #7F7F7F;
    font-weight: 500;
    margin-top: -34px;
}

.youngs-favourite .card{
    width: 50%;
    height: 30%;
}

/* download section */
.download {
    margin-top: 80px;
    height: 650px;
    display: flex;
    justify-content: space-between;
}

.download-image {
    width: 77%;
    height: 98%;
}

.download-text {
    margin: 180px 0 0 100px;
    width: 40%;
}

.download-text h2{
    font-weight: 900;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.download-text p{
    font-size: 20px;
    font-weight: 500;
    color: #7F7F7F;
    margin-bottom: 40px;
}

.img-group {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.image {
    width: 35%;
    height: 20%;
}

/* community section */
.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6C744;
    height: 450px;
    margin-top: 70px;
}

.community p{
    color: white;
    font-size: 45px;
}

.community p:nth-of-type(1) {
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-top: -10px;
    letter-spacing: 1px;
}

.community p:nth-of-type(2) {
    margin: -20px 0 26px 0;
    font-size: 25px;
    font-weight: 400;
}

.input-group {
    display: flex;
    width: 420px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.input-group input{
    margin: 0 10px;
    font-size: 20px;
    border: none;
    padding: 13px 13px;
}


.input-group button {
    position: absolute;
    right: 10px;
    transform: translateY(20%);
    padding: 5px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}

.container {
    position: relative;
}

.arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 10%;
    height: 23%;
    transform: translateY(-50%);
}

/* footer section */
.site-footer {
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 100px;
    gap: 30px; 
}

.footer-branding {
    flex: 2;
    min-width: 250px;
    text-align: left;
}

.footer-branding h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-branding p {
    font-size: 15px;
    margin-bottom: 20px;
    max-width: 300px;
    color: #6A6A69;
}

.social-media {
    display: flex;
    gap: 15px;
    width: 30% ;
    height: 18% ;
}

.footer-links {
    display: flex;
    flex: 2;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
}

.link-group {
    min-width: 150px;
}

.link-group ul {
    list-style: none;
    padding: 0;
}

.link-group li {
    margin-bottom: 5x;
}

.link-group a {
    text-decoration: none;
    font-size: 17px;
    line-height: 2.2;
    color: #6A6A69;
}

.link-group ul li:nth-of-type(1) a {
    color: #D9D9D7;
}

/* Responsive Design */

@media (max-width: 1920px) {
    .hero {
        height: 675px;
    }
    
    .hero-text {
        margin: 20px 0 0 0;
        width: 71%;
    }
    
    .hero-text h1{
        font-size: 70px;
        line-height: 75px;
    }
    
    .hero-text .rectangle {
        width: 310px;
        height: 80px;
    }
    
    .hero-text .rectangle:nth-of-type(1) {
        width: 275px;
    }
    
    .hero-text p {
        font-size: 22px;
        margin-top: 30px;
    }
    
    .hero-text button {
        font-size: 27px;
        padding: 16px 40px;
    }
    
    .hero-text .rectangle::before {
        bottom: 90px;
        height: 18px;
    }
    
    
    .hero-text .rectangle::after {
        bottom: -6px;
        height: 14px;
    }
}

@media (max-width: 1440px) {
    /* hero section  */
    .hero{
        height: 640px;
    }

    .hero-text {
        margin: 40px 0 0 0;
        width: 58%;
    }
    .hero-text h1 {
        font-size: 58px;
        line-height: 60px;
    }
    
    .hero-text p {
        font-size: 20px;
    }
    
    .hero-text button {
        font-size: 20px;
        padding: 16px 40px;
    }

    .hero-image {
        margin: 63px 56px 0 0;
        width: 85%;
        height: 90%;
    }
}

@media (max-width: 1024px){

    header {
        padding: 20px 100px;
    }
    
    .logo img {
        width: 200px;
    }
    
    .navbar {
        gap: 40px;
    }
    
    .navbar a {
        font-size: 14px;
    }
    
    .navbar button {
        padding: 5px 13px;
        font-size: 14px;
    }
    
    /*hero section*/
    
    .hero {
        height: 425px;
    }

    .hero-image {
        margin: 42px 10px 0 0;
        width: 85%;
        height: 90%;
    }
    
    .hero-text {
        margin: 11px 0 0 0;
    }

    .hero-text h1 {
        font-size: 40px;
        line-height: 41px;
    }
    .hero-text .rectangle:nth-of-type(1) {
        width: 148px;
    }

    .hero-text .rectangle {
        width: 172px;
        height: 49px;
    }

    .hero-text .rectangle::before {
        bottom: 60px;
        height: 13px;
    }

    .hero-text .rectangle::after {
        bottom: -3px;
        height: 11px;
    }
        
    .hero-text p {
        font-size: 16px;
        line-height: 21px;
    }
    .hero-text button {
        font-size: 15px;
        padding: 11px 22px;
    }
    /* banner group */

    .banner-group {
        height: 119px;
        margin-bottom: 50px;
    }
    
    /* new arrival section */
    .new-arrival {
        gap: 60px;
    }

    .new-arrival .card {
        margin-top: 30px;
    }

    .new-arrival h4 {
        font-size: 20px;
        margin-top: 0px;
    }
    
    .new-arrival p {
        font-size: 14px;
        margin-top: -36px;
    }

    .wrapper h2 {
        font-size: 29px;
        letter-spacing: 2px;
    }

    /* payday section */
    .wrapper h1 {
        margin: 100px 0 70px 0;
    }

    .payday {
        height: 574px;
        margin-top: 70px;
    }

    .payday-text h1 {
        font-size: 58px;
        line-height: 66px;
    }

    .payday-text .rectangle {
        width: 254px;
        height: 74px;
    }
    .payday-text .rectangle::before {
        bottom: 84px;
    }

    .payday-text p {
        margin: 36px 0px 30px 70px;
        font-size: 18px;
        max-width: 382px;
    }

    .payday-text button {
        font-size: 19px;
        padding: 20px 45px;
    }

    /* youngs favorite */
    .wrapper h1 {
        margin: 80px 0 40px 0;
        font-size: 28px;
    }

    .youngs-favourite h4 {
        font-size: 19px;
        margin-top: 10px;
    }
    .youngs-favourite p {
        font-size: 16px;
        margin-top: -27px;
    }

    /* download section */
    .download{
        gap: 20px;
        margin-top: 40px;
        height: 600px;
    }

    .download-text {
        margin: 173px 0 0 0px;
        width: 34%;
    }
    
    .download-text h2 {
        font-size: 25px;
        line-height: 41px;
    }
    
    .download-text p {
        font-size: 14px;
    }
    
    .download-image {
        width: 56%;
        height: 98%;
    }

    .image {
        width: 50%;
    }

    /* community section */
    .community p {
        font-size: 40px;
    }
    .community p:nth-of-type(2) {
        margin: -13px 0 26px 0;
        font-size: 20px;
    }

    /* footer section */
    .site-footer {
        padding: 50px 50px;
    }
    
    .social-media {
        gap: 13px;
        width: 44%;
    }
    .footer-links {
        flex: none;
    }
    
    .link-group a {
        font-size: 15px;
    }
}

@media (max-width: 768px) {

    /* header section */

    header {
        padding: 26px 50px;
        box-shadow:0 0px 10px rgba(0, 0, 0, 0.1); /* Horizontal, Vertical, Blur, Spread, and Color */
    }

    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 93%;
        /* width: 88%; */
        height: 100%;
        background-color: white;
        flex-direction: column;
        gap: 20px;
        z-index: 99;
    }

    /* style after menu opens */
    body.no-scroll { /* to prevent scrolling when hamburger is clicked*/
        overflow: hidden;
    }

    .navbar.active {
        display: flex;
        padding-right: 12px;
        align-items: flex-end;
        justify-content: flex-start;
        padding-top: 42px;
        margin-top: 68px;
    }

    .navbar button {
        padding: 8px 299px;
        text-transform: capitalize;
    }

    .navbar li {
        width: 100%; 
        text-align: left;  
    }

    /* hero section */
    .wrapper {
        margin: 0 50px;
    }

    .hero {
        height: 373px;
        border-radius: 22px;
        margin: 30px 50px 0 50px;
    }
    
    .hero-image {
        margin: 52px 0px 0 0;
    }
    
    .hero-text {
        margin: 22px 0 0 43px;
        width: 69%;
    }
    
    .hero-text h1 {
        margin-left: 15px;
        margin-bottom: 6px;
        font-size: 32px;
        max-width: 100px;
        line-height: 30px;
    }

    .hero-text button {
        font-size: 10px;
        padding: 10px 18px;
        margin-left: 30px;
    }
        
    .hero-text .rectangle:nth-of-type(1) {
        width: 134px;
    }
    
    .hero-text .rectangle {
        width: 153px;
        height: 45px;
    }
    
    .hero-text .rectangle::before {
        bottom: 59px;
        height: 10px;
    }
    
    .hero-text .rectangle::after {
        bottom: -3px;
        height: 13px;
    }

    .hero-text p{
        display: none;
    }

    .hero-text button {
        font-size: 18px;
        margin-top: 20px;
        padding: 14px 28px;
    }

    /* banner section */
    .banner-group{
        margin-top: 30px;
        height: 85px;
        margin-bottom: 40px;
        flex-wrap: nowrap;
        overflow-x: auto;           /* Enable horizontal scrolling */
        scroll-behavior: smooth;
    }

    .banner-logo {
        width: auto; 
        height: auto;
        margin: 0 10px; 
    }

    .banner-logo img {
        object-fit: scale-down;
        width: 116px;
        height: 34px;
    }

    .banner::-webkit-scrollbar {
        display: none;              /* Hide scrollbars for a cleaner look */
    }

    /* new arrival section */
    .new-arrival {
        gap: 40px;
        flex-wrap: nowrap;          /*No wrapping, keep items in one row */
        overflow-x: auto;           /* Enable horizontal scrolling */
        scroll-behavior: smooth;    /* Smooth scrolling for better UX */
        margin-left: 0px;
        margin-top: 0px;
    }

    .new-arrival .card {
        flex: 0 0 50%;              /* Each card takes up 72% of the screen width */
        margin-right: 15px;         /* Add spacing between cards */
    }

    .new-arrival::-webkit-scrollbar {
        display: none;              /* Hide scrollbars for a cleaner look */
    }

    /* payday section */
    
    .payday {
        height: 423px;
    }

    .payday-image {
        margin: 38px 0px 0 0;
    }

    .payday-text {
        margin-top: 25px;
        margin-right: 50px;
    }

    .payday-text h1 {
        font-size: 43px;
        line-height: 40px;
    }

    .payday-text .rectangle {
        width: 191px;
        height: 52px;
    }

    .payday-text .rectangle::before {
        bottom: 67px;
    }

    .payday-text .rectangle::after {
        bottom: -4px;
    }

    .payday-text p {
        margin: 20px 0px 30px 70px;
        font-size: 14px;
        max-width: 382px;
    }

    .payday-text button {
        margin: -14px 0 0 70px;
        font-size: 14px;
        padding: 15px 30px;
    }


    /* youngs faavorite section */
    .youngs-favourite {
        flex-wrap: nowrap;          /*No wrapping, keep items in one row */
        overflow-x: auto;           /* Enable horizontal scrolling */
        scroll-behavior: smooth;    /* Smooth scrolling for better UX */
        margin-left: 0px;
        margin-top: 0px;
    }

    .youngs-favourite .card {
        flex: 0 0 72%;              /* Each card takes up 80% of the screen width */
        margin-right: 15px;         /* Add spacing between cards */
    }

    .youngs-favourite::-webkit-scrollbar {
        display: none;              /* Hide scrollbars for a cleaner look */
    }

    /* download section */

    .download{
        margin-top: 0px;
    }

    .download-text {
        margin: 172px 0 0 0px;
        width: 40%;
    }
    
    .download-text h2 {
        font-size: 22px;
        line-height: 30px;
    }
    
    .download-image {
        width: 59%;
        height: 98%;
    }
    
    .download-text p {
        font-size: 14px;
    }

    /* community section */
    .community{
        margin-top: 0px;
    }

    .community p {
        font-size: 30px;
    }
    
    .community p:nth-of-type(2) {
        margin: -4px 0 37px 0;
        font-size: 17px;
    }

    /* footer section */
    .footer-links {
        gap: 110px;
    }

}

@media (max-width: 425px) {

    .wrapper {
        margin: 0 20px;
    }

    h2 {
        font-size: 27px;
    }

    header {
        padding: 20px 0 10px 50px;
    }

    /* header section */
    .logo img{
        width: 150px;
        margin-left: -15px;
    }

    .hamburger {
        display: block;
        right: -91px;
    }

    .navbar {
        width: 88%;
    }    

    .navbar button {
        padding: 13px 139px;
        text-transform: capitalize;
    }


    /* hero section */
    .hero {
        margin: 16px 16px 0 16px;
        height: 200px;
        border-radius: 20px;
    }
    
    .hero-text {
        margin: -10px 0 0 0;
        width: 60%;
    }
    
    .hero-text h1{
        margin-left: 15px;
        margin-bottom: -2px;
        font-size: 20px;
        max-width: 100px;
        line-height: 24px;
    }

    .hero-text .move-left{
        margin-left: 10px;
    }
    
    .hero-text p {
        display: none;
    }
    
    .hero-text button {
        font-size: 10px;
        padding: 8px 12px;
        margin-left: 30px;
    }
    
    .hero-image {
        margin: 20px 0 0 0;
    }
    
    .hero-text .rectangle {
        height: 30px;
        padding: 0px 10px;
    }
    
    .hero-text .rectangle::before {
        bottom: 28px;
        height: 5px;
    }
    
    .hero-text .rectangle::after {
        bottom: -2px;
        height: 5px;
    }
    
    .hero-text .rectangle:nth-of-type(1) {
        width: 85px;
    }
    
    .hero-text .rectangle:nth-of-type(3) {
        width: 95px;
    }

    /* banner section */
    .banner-group{
        margin-top: 30px;
        height: 62px;
        margin-bottom: 26px;
        flex-wrap: nowrap;
        overflow-x: auto;           /* Enable horizontal scrolling */
        scroll-behavior: smooth;
    }

    .banner-logo {
        width: auto; 
        height: auto;
        margin: 0 10px; 
    }

    .banner-logo img {
        object-fit: scale-down;
        width: 78px;
        height: 32px;
    }

    .banner::-webkit-scrollbar {
        display: none;              /* Hide scrollbars for a cleaner look */
    }

    /* new arrival section */
    .new-arrival {
        gap: 24px;
        flex-wrap: nowrap;          /* No wrapping, keep items in one row */
        overflow-x: auto;           /* Enable horizontal scrolling */
        scroll-behavior: smooth;    /* Smooth scrolling for better UX */
    }

    .wrapper h2 {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .new-arrival h4 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 12px;
    }

    .new-arrival p {
        font-size: 14px;
        margin-top: -22px;
    }

    .arrow {
        top: 53%;
        width: 8%;
        height: 27%;
    }

    .new-arrival .card {
        flex: 0 0 75%;              /* Each card takes up 80% of the screen width */
        margin-top: 2px;
        margin-right: 0px;         /* Add spacing between cards */
    }

    .new-arrival::-webkit-scrollbar {
        display: none;              /* Hide scrollbars for a cleaner look */
    }

    /* payday section */
    .payday {
        margin-top: 35px;
        height: 250px;
        margin-bottom: 50px;
    }

    .payday-image {
        margin: 17px 0 0 -2px;
        width: 95%;
        height: 95%;
    }

    .payday-text {
        margin-top: 0px;
        width: 90%;
        margin-right: 16px;
    }

    .payday-text h1 {
        margin-left: 0px;
        font-size: 20px;
        line-height: 21px;
    }

    #sale {
        margin-left: 10px;
    }

    .payday-text .rectangle {
        width: 84px;
        height: 26px;
        padding: 10px 10px 0 10px;
    }

    .payday-text .rectangle::before {
        bottom: 34px;
        height: 10px;
    }

    .payday-text .rectangle::after {
        bottom: -2px;
        height: 5px;
    }

    .payday-text p{
        font-size: 10px;
        font-weight: 500;
        max-width: 500px;
        margin: -7px 0px 13px 8px;
    }

    .payday-text p:nth-of-type(2) {
        margin: 0px 0px 0px 8px;
    }

    .payday-text p:nth-of-type(3) {
        margin: 0px 0px 12px 8px;
    }

    .payday-text button {
        margin: 0 0 0 10px;
        font-size: 12px;
        padding: 8px 12px;
    }

    /* youngs faavorite section */
    .youngs-favourite {
        flex-wrap: nowrap;          /*No wrapping, keep items in one row */
        overflow-x: auto;           /* Enable horizontal scrolling */
        scroll-behavior: smooth;    /* Smooth scrolling for better UX */
        margin-left: 0px;
        margin-top: 0px;
        gap: 24px;
    }

    .youngs-favourite .card {
        flex: 0 0 85%;              /* Each card takes up 85% of the screen width */
        margin-right: 0px;        
    }

    .youngs-favourite::-webkit-scrollbar {
        display: none;              /* Hide scrollbars for a cleaner look */
    }

    .wrapper h1{
        font-size: 21px;
        margin: 0 0 20px 0;
    }

    .youngs-favourite h4 {
        font-size: 16px;
        font-weight: 500;
    }

    .youngs-favourite p {
        font-size: 14px;
        font-weight: 500;
        margin-top: -20px;
    }

    /* download section */

    .download {
        height: 270px;
    }

    .download-image {
        display: none;
    }

    .download-text {
        margin: 56px 57px 0px 58px;
        width: 100%;
    }

    .download-text h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .download-text p {
        font-size: 13px;
        margin-bottom: 18px;
    }

    .image {
        width: 41%;
        height: 20%;
    }

    /* community section */
    .community {
        height: 300px;
        margin-top:50px;
    }

    .community p{
        font-size: 20px;
    }

    .community p:nth-of-type(2) {
        margin: -13px 0 26px 0;
        font-size: 14px;
        max-width: 220px;
        text-align: center;
    }

    .input-group {
        width: 350px;
    }

    .input-group input {
        margin: 0 10px;
        font-size: 14px;
        padding: 15px 0px;
    }

    .input-group button {
        transform: translateY(15%);
        font-size: 19px;
    }

    /* footer section */
    .site-footer {
        padding: 39px 36px;
        gap: 30px; 
    }
    
    .footer-branding h2 {
        font-size: 30px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    
    .footer-branding p {
        font-size: 13px;
        margin-bottom: 20px;
        max-width: 400px;
    }
    
    .social-media {
        gap: 10px;
        width: 49% ;
        height: 26% ;
    }
    
    .footer-links {
        flex: 0;
        gap: 0px;
    }

    .link-group a{
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .hamburger {
        right: -62px;
    }

    /* hamburger active navbar */
    .navbar button {
        font-size: 13px;
    }

    /* hero section */
    .hero-text {
        margin: 0px 0 0 0;
        width: 60%;
    }
    
    .hero-text .rectangle:nth-of-type(1) {
        width: 75px;
    }

    .hero-text .rectangle:nth-of-type(3) {
        width: 81px;
    }
    
    .hero-text .rectangle {
        height: 26px;
    }
    
    .hero-text .rectangle::before {
        bottom: 25px;
        height: 5px;
    }
    
    .hero-text .rectangle::after {
        bottom: -2px;
        height: 5px;
    }    

    .payday {
        height: 219px;
    }

    .payday-image {
        margin: 15px 0 0 0px;
    }

    .payday-text p {
        font-size: 9px;
        line-height: 12px;
        margin: -10px 0px 8px 8px;
    }

    .payday-text h1 {
        margin-left: 0px;
        font-size: 20px;
        line-height: 20px;
    }

    .payday-text button {
        margin: 0 0 0 10px;
        font-size: 10px;
        padding: 8px 12px;
    }

    .payday-text .rectangle {
        height: 25px;
    }

    .payday-text .rectangle::before {
        bottom: 29px;
        height: 10px;
    }

    /* download section */
    .download {
        height: 260px;
    }
    
    .download-text {
        margin: 53px 49px 0px 58px;
        width: 100%;
    }
    
    .download-text h2 {
        font-size: 19px;
        line-height: 28px;
        margin-bottom: 12px;
    }
    
    .download-text p {
        font-size: 12px;
        margin-bottom: 24px;
        margin-top: 12px;
    }
    
    .img-group {
        gap: 10px;
    }

    .image{
        width: 48%;
    }

    /* community section */
    
    
    /* download section */
    .download {
        height: 235px;
    }
    
    .download-text {
        margin: 23px 15px 0px 14px;
    }

    .download-text h2 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 12px;
    }

    .download-text p {
        font-size: 12px;
        margin-bottom: 24px;
        margin-top: 12px;
    }

    .community {
        height: 250px;
        margin-top: 40px;
    }

    .community p:nth-of-type(1) {
        margin-top: -2px;
    }

    .community p:nth-of-type(2) {
        margin: -3px 0 21px 0;
        font-size: 12px;
    }

    .input-group {
        width: 310px;
    }

    .input-group input {
        margin: 0 10px;
        font-size: 13px;
        padding: 11px 7px;
    }

    .input-group button {
        font-size: 14px;
    }

}

@media (max-width: 320px){

    .hamburger {
        right: -35px;
    }

    .input-group {
        width: 292px;
    }
    
    .navbar button {
        padding: 9px 114px;
    }

    /* hero section */
    .hero {
        height: 172px;
    }

    .hero-text button {
        margin-top: 10px;
        padding: 5px 12px;
    }
    
    /* ==== payday section ==== */
    .payday {
        margin-top: 35px;
        height: 190px;
        margin-bottom: 50px;
    }
    .payday p {
        font-size: 8px;
    }

    .payday-text h1 {
        margin-left: 0px;
        font-size: 15px;
        line-height: 20px;
    }
    .payday-text button {
        margin: 0px 0px 0 10px;
        font-size: 8px;
        padding: 8px 12px;
    }
    .payday-text p:nth-of-type(3) {
        margin: 1px 0px 5px 8px;
    }    

    .community p{
        font-size: 17px;
    }

    /* footer section */
    .social-media {
        width: 58%;
        height: 16%;
    }
}


