body {
    max-width: 1920px;
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0 auto;
}

* {
    font-family: 'Poppins';
}

header {
    padding: 20px 50px;
}

h1 {
    margin-left: 50px;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* css for navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 33px;
    text-transform: uppercase;
    }

button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 7px;
        font-size: 18px;
        cursor: pointer;
        padding: 15px 15px;

    }

.logo img {
    width: 236px;
    display: block;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
}

.navbar button {
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;

}

/* hero section */
.hero {
    background-color: #F3F6F3;
    margin: 0 50px;
    height: 690px;
    border-radius: 59px;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin: 20px 0 0 27px;
    width: 60%;
}

.hero-text h1{
    font-size: 70px;
    font-weight: 900;
    max-width: 474px;
    line-height: 75px;
    text-transform: uppercase;
}

.hero-text p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 70px;
}

.hero-text .move-left{
    margin-left: 15px;
}

.hero-text button {
    font-size: 24px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    margin-left: 70px;
}

.hero-image {
    margin: 75px 56px 0 0;
    width: 85%;
    height: 90%;
}

.hero-text .rectangle {
    width: 310px;
    height: 80px;
    padding: 20px 8px 0 15px;
    position: relative;
    display: inline-block;
}

.hero-text .rectangle::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;
    height: 18px;
    background-color: #F3F6F3;
    transform: skewY(-2deg);
}

.hero-text .rectangle::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 14px;
    background-color: #F3F6F3;
    transform: skewY(-2deg);
}

.hero-text .rectangle:nth-of-type(1) {
    width: 275px;
    background-color: white;
}

.hero-text .rectangle:nth-of-type(3) {
    background-color: #E6C744;
}

/* banner section */
.banner-group{
    margin-top: 60px;
    background-color: #E6C744;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.banner-logo{
    width: 16%;
    height: 30%;
}

.wrapper {
    margin: 0 50px;
}

/* new-arrival section */

.new-arrival {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.new-arrival h4{
    font-size: 30px;
    font-weight: 500;
}

.new-arrival p{
    font-size: 20px;
    color: gray;
}

.new-arrival .card {
    margin-top: 60px;
    width: 31%;
    height: 40%;
}

/* payday section */
.payday {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: #E6C744;
    height: 730px;
    margin-bottom: 50px;
}

.payday-image {
    margin: 53px 56px 0 0;
    width: 95%;
    height: 93%;
}

.payday-text {
    margin-top: 60px;
    width: 100%;
}

.payday-text h1 {
    font-size: 90px;
    font-weight: 900;
    line-height: 95px;
    text-transform: uppercase;
}

#sale {
    margin-left: 20px;
}

.payday-text .rectangle {
    width: 384px;
    height: 100px;
    padding: 20px 20px 0 20px;
    position: relative;
    display: inline-block;
    background-color: white;
}

.payday-text .rectangle::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 107px;
    height: 30px;
    background-color: #E6C744;
    transform: skewY(-2deg);
}

.payday-text .rectangle::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    height: 15px;
    background-color: #E6C744;
    transform: skewY(-2deg);
}

.payday-text p{
    margin: 50px 0px 30px 70px;
    font-size: 28px;
    font-weight: 500;
    max-width: 500px;
}

.payday-text p:nth-of-type(1) {
    font-weight: 500;
}

.payday-text p:nth-of-type(2) {
    margin: 30px 0px 0px 70px;
    font-weight: 700;
}

.payday-text p:nth-of-type(3) {
    margin: 0px 0px 30px 70px;
    font-weight: 500;
}

.payday-text button {
    margin: 0 0 0 70px;
    padding: 15px 30px;
    text-transform: uppercase;
}

/* youngs favourite section */
.youngs-favourite {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    margin-top: 50px;
    margin-left: 50px;
}

.youngs-favourite h4{
    font-size: 30px;
}

.youngs-favourite p{
    font-size: 20px;
    color: gray;
}

.youngs-favourite .card{
    width: 50%;
    height: 30%;
}

/* download section */
.download {
    height: 650px;
    display: flex;
    justify-content: space-between;
}

.download-image {
    width: 77%;
    height: 98%;
}

.download-text {
    margin: 180px 0 0 100px;
    width: 40%;
}

.download-text h2{
    font-weight: 900;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.download-text p{
    font-size: 20px;
    font-weight: 500;
    color: gray;
    margin-bottom: 40px;
}

.img-group {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.image {
    width: 35%;
    height: 20%;
}

/* community section */
.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6C744;
    height: 450px;
    margin-top: 70px;
}

.community p{
    color: white;
    font-size: 45px;
}

.community p:nth-of-type(1) {
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-top: -10px;
    letter-spacing: 1px;
}

.community p:nth-of-type(2) {
    margin: -20px 0 26px 0;
    font-size: 25px;
    font-weight: 400;
}

.input-group {
    display: flex;
    width: 420px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.input-group input{
    margin: 0 10px;
    font-size: 20px;
    border: none;
    padding: 13px 13px;
}


.input-group button {
    position: absolute;
    right: 10px;
    transform: translateY(20%);
    padding: 5px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}

.container {
    position: relative;
}

.arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    width: 5%;
    height: 10%;
    transform: translateY(-50%);
}

/* footer section */
.site-footer {
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 50px 100px;
    gap: 30px; 
}

.footer-branding {
    flex: 2;
    min-width: 250px;
    text-align: left;
}

.footer-branding h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-branding p {
    font-size: 15px;
    margin-bottom: 20px;
    max-width: 300px;
    color: #6A6A69;
}

.social-media {
    display: flex;
    gap: 15px;
    width: 30% ;
    height: 18% ;
}

.footer-links {
    display: flex;
    flex: 2;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
}

.link-group {
    min-width: 150px;
}

.link-group ul {
    list-style: none;
    padding: 0;
}

.link-group li {
    margin-bottom: 5x;
}

.link-group a {
    text-decoration: none;
    font-size: 17px;
    line-height: 2.2;
    color: #6A6A69;
}

.link-group ul li:nth-of-type(1) a {
    color: #D9D9D7;
}

/* Responsive Design */
@media (max-width: 425px) {

    nav{
        display: none;
    }

    /* hero section */
    .hero {
        margin: 0 20px;
        height: 200px;
        border-radius: 20px;
    }
    
    .hero-text {
        margin: -10px 0 0 0;
        width: 60%;
    }
    
    .hero-text h1{
        margin-left: 15px;
        margin-bottom: -2px;
        font-size: 22px;
        max-width: 100px;
        line-height: 28px;
    }

    .hero-text .move-left{
        margin-left: 10px;
    }
    
    .hero-text p {
        display: none;
    }
    
    .hero-text button {
        font-size: 12px;
        padding: 11px 15px;
        margin-left: 30px;
    }
    
    .hero-image {
        margin: 20px 0 0 0;
    }
    
    .hero-text .rectangle {
        height: 30px;
        padding: 0px 10px;
    }
    
    .hero-text .rectangle::before {
        bottom: 28px;
        height: 5px;
    }
    
    .hero-text .rectangle::after {
        bottom: -2px;
        height: 5px;
    }
    
    .hero-text .rectangle:nth-of-type(1) {
        width: 85px;
    }
    
    .hero-text .rectangle:nth-of-type(3) {
        width: 95px;
    }

    .banner-group{
        margin-top: 40px;
        background-color: #E6C744;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: "10px";
        margin-bottom: 50px;
        overflow: scroll;
    }


    /* payday section */
    .payday {
        margin-top: 100px;
        height: 250px;
        margin-bottom: 50px;
    }

    .payday-image {
        margin: 17px 14px 0 0;
        width: 95%;
        height: 95%;
    }

    .payday-text {
        margin-top: 0px;
        width: 90%;
    }

    .payday-text h1 {
        margin-left: 0px;
        font-size: 20px;
        line-height: 30px;
    }

    #sale {
        margin-left: 10px;
    }

    .payday-text .rectangle {
        width: 84px;
        height: 30px;
        padding: 10px 10px 0 10px;
    }

    .payday-text .rectangle::before {
        bottom: 34px;
        height: 10px;
    }

    .payday-text .rectangle::after {
        bottom: -2px;
        height: 5px;
    }

    .payday-text p{
        font-size: 10px;
        font-weight: 500;
        max-width: 500px;
        margin: -7px 0px 13px 8px;
    }

    .payday-text p:nth-of-type(2) {
        margin: 0px 0px 0px 8px;
    }

    .payday-text p:nth-of-type(3) {
        margin: 0px 0px 12px 8px;
    }

    .payday-text button {
        margin: 0 0 0 10px;
        font-size: 11px;
        padding: 9px 12px;
    }
}
